<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("partials/head") %>
</head>

<body>

    <%- include("partials/header", {data : 0}) %>

    <main>

        <div class="banner-contain">

            <img class="banner-portada" src="/images/portada.jpg" alt="banner">

        </div>



        <div id="fondo-bananas">

            <div class="products w-80">

                <div class="product-title">
                    <p>Productos Destacados</p>
                </div>

                
                <div class="d-flex space-bet">
                    <% productsData.forEach(function(product) { %> 
                        <% if (product.top == "yes"){ %> 
                    
                            <%- include("./partials/product", {product}) %>
                    
                    <% } %> 
                <% }); %> 
                    
                </div>
                

            </div>

            <div class="products w-80">

                
                <div class="d-flex space-bet">
                    <% productsData.forEach(function(product) { %> 
                        <% if (product.top == "no"){ %> 
                            <%- include("./partials/product", {product}) %>
                    
                    <% } %> 
                    <% }); %> 
                </div>
                
                <div class="product-title all-products">
                    <a href="/products">Ver todos los Productos</a>
                </div>


            </div>
            <div class="products w-80">

                <div class="title-container">
                    <p class="title-screen"><i class="fab fa-instagram"></i>camburdeco</p>
                </div>

                <div class="d-flex">
                    <div class="pay-card">
                        <p><i class="fas fa-dollar-sign"></i>PROMOCIONES</p>
                        <p>por pedidos mayoristas</p>
                    </div>
                    <div class="pay-card">
                        <p><i class="far fa-credit-card"></i>MERCADO PAGO</p>
                        <P>todos los medios de pago</P>
                    </div>
                    <div class="pay-card">
                        <p><i class="fas fa-lock"></i>SITIO SEGURO</p>
                        <p>protegemos tus datos</p>
                    </div>
                </div>

            </div>

        </div>
    </main>
    
    <%- include("partials/footer") %>

</body>

</html>