<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../partials/head") %>
    <link rel="stylesheet" href="/stylesheets/register.css">
</head>

<body>
    <header>
        <%- include("../partials/header", {data : 0}) %>
    </header>
    <main>

        <section id="registro">
            <div class="titulo">
                CONTACTO
            </div>
            <article class="registrointerior">

                <div class="formulario">
                    <form id="form" action="/users/contact" method="POST">
                        <p><label for="name">Nombre:</label></p>
                        <% if (errors.nombre != undefined){  %> 
                            <p><input class="contacto" type="text" id="nombre" name="nombre"></p>
                            <p class="errors"><%= errors.nombre.msg %> </p>
                        <% }else{ %>
                            <p><input class="contacto" type="text" id="nombre" name="nombre" value="<%= data.nombre %>"></p>
                        <% } %>                      
                        <p><label for="e-mail">E-mail:</label></p>
                        <% if (errors.email != undefined){  %> 
                            <p><input class="contacto" type="email" id="email" name="email"></p>
                            <p class="errors"><%= errors.email.msg %> </p>
                        <% }else{ %>
                            <p><input class="contacto" type="email" id="email" name="email" value="<%= data.email %>"></p>
                        <% } %>
                        <p><label for="telefono">Teléfono (opcional):</label></p>
                        <input class="contacto" type="text" id="telefono" name="telefono">
                        <p><label for="mesage">Mensaje:</label></p>
                        <% if (errors.mensaje != undefined){  %> 
                            <textarea class="contacto" name="mensaje" id="message" cols="30" rows="10"></textarea>
                            <p class="errors"><%= errors.mensaje.msg %> </p>
                        <% }else{ %>
                            <textarea class="contacto" name="mensaje" id="message" cols="30" rows="10" value="<%= data.mensaje %>"></textarea>
                        <% } %> 
                        <p><input class="boton" type="submit" value="Enviar"></p>
                    </form>
                </div>
            </article>
        </section>

    </main>
    <footer>
        <%- include("../partials/footer") %>
    </footer>
    <script src="/script/contact.js"></script>
</body>

</html>