<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("../partials/head") %>
        <link rel="stylesheet" href="/stylesheets/login.css">
    </head>
    <body>
        <%- include("../partials/header", {data : 0}) %>

        <section id="login">
            <div class="titulo">
                LOGIN
            </div>
            <article class="logininterior">
                <div class="formulario">
                   
                    <form id="form" action="/users/login" method="POST">
                        <input class="ingreso" type="email" value="<%= data.email %> " name="email" placeholder="e-mail">
                        <% if (errors.email != undefined){  %> 
                            <p class="errors"><%= errors.email.msg  %> </p>
                        <% } %> 
                        <input id="password" class="ingreso" type="password" name="password" placeholder="Contraseña"></p>
                        <% if (errors.password != undefined){  %> 
                            <p class="errors"><%= errors.password.msg  %> </p>
                        <% } %>
                        <p><input type="checkbox" name="recordame">Recordarme</p>
            
                        <p><input class="boton" type="submit" value="Iniciar sesión"></p>
                    </form>
                    <div class="recupero">
                        <a href="/users/recupero">olvide mi contraseña</a>
                    </div>
                </div>
                <img class="vista" src="/images/workshop.jpg" alt="workshop">
            </article>
        </section>
        <%- include("../partials/footer") %> 
       <script src="/script/login.js"></script>
    </body>
</html>