<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("../partials/head") %>
        <link rel="stylesheet" href="/stylesheets/register.css">
    </head>
    <body>
        <%- include("../partials/header", {data : 0}) %>
        <section id="registro">
            <div class="titulo">
                PERFIL DEL USUARIO
            </div>
            <article class="registrointerior">
                <div class="formulario">
                    <form id="form" action="/users/<%= locals.ides %>?_method=PUT" method="POST" enctype="multipart/form-data">
                        <div>
                            <p><img class="imagenes" src="../../images/users/<%= data.profiles.avatar %>" alt="avatar"></p>
                            <label for="imagen" class="label2">Cargar nueva imagen</label>
                            <input type="file" multiple="multiple" id="avatar" name="avatar" value="<%= data.avatar %>">
                        </div>
                        <p class="label1">USER NAME: <%= data.user_name %></p>
                        <label for="imagen" class="form-label">Datos de identidad</label>
                        <input class="ingreso" type="text" id="name" name="name" placeholder="Nombre" value="<%= data.profiles.first_name %>">
                        <% if (errors.name != undefined){  %> 
                            <p><%= errors.name.msg  %> </p>
                        <% } %> 
                        <input class="ingreso" type="text" id="apellido" name="apellido" placeholder="Apellido" value="<%= data.profiles.last_name %>">
                        <% if (errors.apellido != undefined){  %> 
                            <p><%= errors.apellido.msg  %> </p>
                        <% } %>
                        <input class="ingreso" type="email" id="email" name="email" placeholder="e-mail" value="<%= data.email %>">
                        <% if (errors.email != undefined){  %> 
                            <p><%= errors.email.msg  %> </p>
                        <% } %> 
                        <label for="imagen" class="form-label">Datos de envío</label>
                        <input class="ingreso" type="text" id="domicilio" name="domicilio" placeholder="Domicilio completo" value="<%= data.profiles.address %>">
                        <input class="ingreso" type="text" id="localidad" name="localidad" placeholder="Ciudad" value="<%= data.profiles.city %>">
                        <input class="ingreso" type="text" id="pais" name="pais" placeholder="Pais" value="<%= data.profiles.pais %>">            
                        <p><button class="boton" type="submit" value="Crear cuenta">Continuar</p>
                    </form>
                    
                </div>
            </article>
        </section>
        <%- include("../partials/footer") %>    
        <script src="/script/perfil.js"></script>  
    </body>
</html>