<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("../partials/head") %>
        <link rel="stylesheet" href="/stylesheets/register.css">
    </head>
    <body>
        <%- include("../partials/header", {data : 0})%>
        <section id="registro">
            <div class="titulo">
                REGISTRARSE
            </div>
            <article class="registrointerior">
                <div class="formulario">
                    <form id="form" action="/users" method="POST" enctype="multipart/form-data">
                        <% if (errors.name != undefined){  %> 
                            <input class="ingreso" type="text" id="name" name="name" placeholder="Nombre de Usuario">
                            <p class="errors"><%= errors.name.msg  %> </p>
                        <% }else{ %> 
                            <input class="ingreso" type="text" id="name" name="name" placeholder="Nombre de Usuario" value="<%= data.name %>" >
                        <% } %> 
                        
                        <% if (errors.email != undefined){  %> 
                            <input class="ingreso" type="email" id="email" name="email" placeholder="e-mail">
                            <p class="errors"><%= errors.email.msg  %> </p>
                        <% } else{ %>
                            <input class="ingreso" type="email" id="email" name="email" placeholder="e-mail" value="<%= data.email %>">
                        <% } %> 

                        <% if (errors.password != undefined){  %> 
                            <input class="ingreso" type="password" id="password" name="password" placeholder="Contrase単a" ></p>
                            <p class="errors"><%= errors.password.msg  %> </p>
                        <% }else{ %>
                            <input class="ingreso" type="password" id="password" name="password" placeholder="Contrase単a" value="<%= data.password %>"></p>
                        <% } %>

                        <% if (errors.confirmPassword != undefined){  %> 
                            <input class="ingreso" type="password" id="confirmapassword" name="confirmPassword" placeholder="Confirmar Contrase単a" ></p>
                            <p class="errors"><%= errors.confirmPassword.msg  %> </p>
                        <% }else{ %>
                            <input class="ingreso" type="password" id="confirmapassword" name="confirmPassword" placeholder="Confirmar Contrase単a" value="<%= data.confirmPassword %>"></p>
                        <% } %> 
                        <div>
                		    <label for="avatar" class="custom-upload form-input">
							    Foto de perfil
						    </label>
                            <input type="file" class= "avatar"  id="avatar" name="avatar" accept=".jpg">
                        </div>
                        <% if (!avatar){  %> 
                            <p class="errors">Debe seleccionar una imagen </p>
                        <% } %>
                        <p><button class="boton" type="submit" value="Crear cuenta">Registrarme</p>
                    </form>
                </div>
                <img class="vista" src="/images/bolsas2.jpg" alt="bolsacamburdeco">
            </article>
        </section>
        <%- include("../partials/footer") %> 
        <script src="/script/register.js"></script>     
    </body>
</html>