<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("../partials/head") %>
        <link rel="stylesheet" href="/stylesheets/register.css">
    </head>
    <body>
        <%- include("../partials/header", {data : 0}) %>
        <section id="registro">
            <div class="titulo">
                PERFIL DEL USUARIO
            </div>
            <article class="registrointerior">
                <div class="formulario">
                    <form id="form" action="/users/upgrade/<%= data.id %>?_method=PUT" method="POST">
                        <div>
                            <p><img class="imagenes" src="../../images/users/<%= data.profiles.avatar %>" alt="avatar"></p>
                        </div>
                        <p class="label1">USER NAME: <%= data.user_name %></p>
                        <label for="" class="form-label">Datos de identidad</label>
                        <input class="ingreso" type="text" id="name" name="name" placeholder="Nombre" value="<%= data.profiles.first_name %>" disabled>
                        <input class="ingreso" type="text" id="apellido" name="apellido" placeholder="Apellido" value="<%= data.profiles.last_name %>" disabled>
                        <input class="ingreso" type="email" id="email" name="email" placeholder="e-mail" value="<%= data.email %>" disabled>    
                        <label for="" class="form-label">Tipo de Usuario</label>
                        <input class="ingreso" type="text" id="tipousuario" name="tipousuario" placeholder="Tipo Usuario" value="<%= data.tipo_usuario_id %>"></p>
            
                        <p><button class="boton" type="submit" value="actualizar">Continuar</p>                        
                    </form>
                </div>
            </article>
        </section>
        <%- include("../partials/footer") %>    
        <script src="/script/perfil.js"></script>  
    </body>
</html>