<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("../partials/head") %>
        <link rel="stylesheet" href="/stylesheets/register.css">
    </head>
    <body>
        <%- include("../partials/header", {data : 0}) %>
        <section id="registro">
            <div class="titulo">
                PERFIL DEL USUARIO
            </div>
            <article class="registrointerior">
                <div class="formulario">
                    <form id="form" action="/users/upgrade/<%= locals.ides %>?_method=PUT" method="POST" enctype="multipart/form-data">
                        <div>
                            <p><img class="imagenes" src="../../images/users/<%= data.profiles.avatar %>" alt="avatar"></p>
                        </div>
                        <input class="ingreso" type="" id="nrocliente" name="nrocliente" value="<%= data.id %>">
                        <label for="imagen" class="form-label">Datos de identidad</label>
                        <p class="ingreso">Nombre: <%= data.profiles.first_name %></label>
                        
                        <p class="ingreso">Apellido: <%= data.profiles.last_name %> </p>
                         
                        <p class="ingreso">D.N.I.: <%= data.profiles.dni %></p>
                        <p class="ingreso">e-mail: <%= data.email %></p>
                        
                        <label for="imagen" class="form-label">Datos de envío</label>
                        <p class="ingreso">Domicilio: <%= data.profiles.address %></p>
                        <p class="ingreso">Localidad: <%= data.profiles.city %></p>
                        <p class="ingreso">Pais: <%= data.profiles.pais %></p>
                        <label for="imagen" class="form-label">Datos de pago</label>
                        <p class="ingreso">Método de pago: <%= data.metodo_pago %></p>
                        <p class="ingreso">Nro. tarjeta de crédito: <%= data.nroTarjeta %></p>
            
                        <label for="imagen" class="form-label">Tipo de usuario</label>
                        <p class="ingreso">Usuario: <%= data.tiposUsuarios.tipo %></p>
                        <input class="ingreso" type="" id="tipousuario" name="tipousuario" placeholder="Indicar tipo de usuario" value="<%= data.tipo_usuario_id %>">
                        <p><button class="boton" type="submit" value="Actualizar">Actualizar Perfil</p>
                    </form>
                    
                </div>
            </article>
        </section>
        <%- include("../partials/footer") %>    
        <script src="/script/perfil.js"></script>  
    </body>
</html>