<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("../partials/head") %>
        <link rel="stylesheet" href="/stylesheets/create.css">
        <script src="/script/productsFront.js"></script>
    </head> 
<body> 
    <%- include("../partials/header", {data : 0}) %>
        <div>    
        <form id="form" action="/products" method="POST" enctype="multipart/form-data">

            <h1>Crear Producto Nuevo</h1>
            <div>
                <p><label for="">NOMBRE</label></p>
                <input id="name" class="ingresar" type="text" name="name" placeholder="Nombre del producto">
            </div>
            <div>
            <p><label for="">Categoría</label></p>
            <select class="ingresar" name="category">
                
                <% for (let i = 0; i < categories.length; i++) { %> 
                    <option value="<%= categories[i].id %>">
                            <%= categories[i].name %> 
                    </option>
                <% } %> 
            </select>
            </div> 
            <div>
            <p><label for="">Precio</label></p>
            <input class="ingresar" type="number" name="price" placeholder="Precio">
            </div>
            <div>
                <p><label for="">Stock</label></p>
                <input class="ingresar" type="text" name="stock" placeholder="Stock">
            </div>
            <div>
                <p><label for="">Estilo</label></p> 
                <% for (let i = 0; i < style.length; i++) { %> 
                    <input type="checkbox" name="style" value="<%= style[i].id %>">
                    <%= style[i].name %> 
                    <% } %>                 
            </div>
            <div>
            <p><label for="">Color</label></p> 
            <% for (let i = 0; i < color.length; i++) { %> 
                <input type="checkbox" name="color" value="<%= color[i].id %>">
                <%= color[i].name %> 
                <% } %>                
            
            </div>

            <div>
            <p><label for="">Descripción</label></p>
            <textarea id="description" name="description" cols="30" rows="10"></textarea>
            </div>

            <div>
            <p><label for="img">Foto del Producto</label></p>
            <input id="img" type="file" name="img">    
            </div>

            <div>    
            <p><button class="enviar" type="submit">Cargar Producto</button></p>
            <p><button class="reset" type="reset">Resetear Página</button></p>
            </div>



        </form>
        </div>
        

        <%- include("../partials/footer") %>
</body>
</html>