<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("../partials/head") %>
        <link rel="stylesheet" href="/stylesheets/create.css">
    </head> 
<body> 
    <%- include("../partials/header", {data : 0}) %>
        <div>    
        <form action="/products" method="POST" enctype="multipart/form-data">

            <h1>Crear Producto Nuevo</h1>
            <div>
                <p><label for="">NOMBRE</label></p>
                <input class="ingresar" type="text" name="name" placeholder="Nombre del producto">
            </div>
            <div>
            <p><label for="">Categoría</label></p>
            <select class="ingresar" name="category">
                <% for (let i = 0; i < product.category.length; i++) { %> 
                    <option value="<%= product.category[i].id %>">
                            <%= product.category[i].name %> 
                    </option>
                <!-- <option value="elegir">Elegir Categoría</option>
                <option value="macetas">MACETAS</option>
                <option value="ceniceros">CENICEROS</option>
                <option value="luminaria">LUMINARIA</option>
                <option value="plantas">PLANTAS</option>
                <option value="velas">VELAS</option> -->
                <% } %> 
            </select>
            </div> 
            <div>
            <p><label for="">Precio</label></p>
            <input class="ingresar" type="number" name="price" placeholder="Precio">
            </div>
            <div>
                <p><label for="">Stock</label></p>
                <input class="ingresar" type="text" name="stock" placeholder="Stock">
            </div>
            <div>
                <p><label for="">Estilo</label></p>  
                <% for (let i = 0; i < product.style.length; i++) { %>
                    
                    <input name="style" type="checkbox" value="<% product.style[i].name %>"><%= product.style[i].name %></input>

                <!-- <input name="style" type="checkbox" value="<% product.style[i].name = "liso" %>">LISO</input>
                <input name="style" type="checkbox" value="<% product.style[i].name = "pollock" %>">POLLOCK</input>
                <input name="style" type="checkbox" value="<% product.style[i].name = "marmolado" %>">MARMOLADO</input>
                <input name="style" type="checkbox" value="<% product.style[i].name = "bicolor" %>">BICOLOR</input> -->
                <% } %> 

               
                
            </div>
            <div>
            <p><label for="">Color</label></p>     
            <% for (let i = 0; i < style.length; i++) { %>        
                <input name="color" type="checkbox" value="<% style[i].name = "rosa" %>">Rosa</input>
                <input name="color" type="checkbox" value="<% style[i].name = "blanco" %>">Blanco</input>
                <input name="color" type="checkbox" value="<% style[i].name = "gris" %>">Gris</input>
                <input name="color" type="checkbox" value="<% style[i].name = "celeste" %>">Celeste</input>
                <% } %> 
            </div>

            <div>
            <p><label for="">Descripción</label></p>
            <textarea name="description" name="description" cols="30" rows="10"></textarea>
            </div>

            <div>
            <p><label for="">Foto del Producto</label></p>
            <input clas="imgup" type="file" name="img">    
            </div>

            <div>    
            <p><button class="enviar" type="submit">Cargar Producto</button></p>
            <p><button class="reset" type="reset">Resetear Página</button></p>
            </div>



        </form>
        </div>

        <%- include("../partials/footer") %>
</body>
</html>