<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../partials/head") %>
    <link rel="stylesheet" href="/stylesheets/detail.css">
    <link rel="stylesheet" href="/stylesheets/products.css">
</head>

<body>
    <%- include("../partials/header", {data : 1, ids : productsData.id} ) %>
    <section id="detalleproducto">
        <div class="titulo">
            Detalle del producto
        </div>
        <div class="produc">
            <img class="image" src="/images/<%= productsData.img %>" alt="imagenproducto">
            <div class="infoproducto">
                <p class="tipoprod"><%= productsData.category.name %></p>
                <p class="nombreprod"><%= productsData.name %></p>
                <p class="precioprod">$ <%= productsData.price %>.-</p>
                <p class="description"> <%= productsData.description %></p>

                <nav class="w-80 tipes" d-flex filter>

                    <div class="filter-nav-div" >
                        <p><%- include("../partials/selector", {SELECTOR: dataEstilo, SELECCION: "", NAME: "estilo", LABEL: "Estilo"}) %></p>
                    </div>

                    <div class="filter-nav-div" >
                        <p><%- include("../partials/selector", {SELECTOR: dataColor, SELECCION: "", NAME: "color", LABEL: "Color"}) %></p>
                    </div>
            
                </nav>
                <form action="/carrito" method="GET">
                    <input class="boton" type="submit" value="Agregar al carrito">
                </form>
            </div>
        </div>
    </section>
    <%- include("../partials/footer") %>
</body>

</html>