<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../partials/head") %>
    <link rel="stylesheet" href="/stylesheets/detail.css">
    <link rel="stylesheet" href="/stylesheets/products.css">
</head>

<body>
    <%- include("../partials/header", { user: 'admin', id: ids } ) %>
    <section id="detalleproducto">
        <div class="titulo">
            Detalle del producto
        </div>
        <div class="produc">
            <img class="image" src="/images/<%= content[ids].img %>" alt="imagenproducto">
            <div class="infoproducto">
                <p class="tipoprod"><%= content[ids].category %></p>
                <p class="nombreprod"><%= content[ids].name %></p>
                <p class="precioprod"><%= content[ids].price %>.-</p>

                <nav class="w-80 tipes">

                    <p><label for="sort">Estilo:</label></p>

                    <select name="tipes" id="tipes">
                        <% content[ids].style.forEach(function(value) { %>
                            <option value="<% value %>"><%= value %></option>                            
                        <% }); %>                            
                    </select>

                    <p><label for="sort">Color:</label></p>

                    <select name="options" id="options">
                        <% content[ids].color.forEach(function(value) { %>
                        <option value="<% value %>"><%= value %></option>
                       <% }); %> 
                    </select>

                </nav>
                <form action="/products/productCart" method="GET">
                    <input class="boton" type="submit" value="Agregar al carrito">
                </form>
                <form action="/products/1?_method=DELETE" method="POST">
                    <button type="submit">ELIMINAR</button>
                </form>
            </div>
        </div>
    </section>
    <%- include("../partials/footer") %>
</body>

</html>