<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../partials/head") %>
    <link rel="stylesheet" href="/stylesheets/products.css">
</head>

<body>
    <%- include("../partials/header") %>

    <main>

        <div class="banner-contain">
            <img class="banner-portada" src="/images/banner-bananas.png" alt="baner">
        </div>

        <div>
            <div class="title-container">
                <p>PRODUCTOS</p>
            </div>
        </div>

        <nav class="w-80 d-flex filter">
            <form action="/products" method="GET">
                    <div class="filter-nav-div" >
                        <%- include("../partials/selector", {SELECTOR: categorias, SELECCION: filtro.category, NAME: "category", LABEL: "Categoría"}) %>
                    </div>
                    <div class="filter-nav-div">
                        <%- include("../partials/selector", {SELECTOR: opciones, SELECCION: filtro.options, NAME: "options", LABEL: "Ordenar por"}) %>
                    </div>
                    <div class="filter-nav-div">
                     <button type="submit" class="boton-filtro"> APLICAR FILTRO </button>
                    </div>
            </form>
        </nav>
       
        <div class="products w-80">
            <div class="d-flex flex-wrap">
                <% content.forEach(product => { %> 
                    <%- include("../partials/product", {product}) %>
                <% }); %> 
            </div>
        </div>
     </main>

    <%- include("../partials/footer") %>

</body>

</html>